---
import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Flutter from "./icons/Flutter.astro"
import Firebase from "./icons/Firebase.astro"
import React from "./icons/React.astro"
import Vite from "./icons/Vite.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  FLUTTER:{
    name: "Flutter",
    class: "bg-[#003159] text-white",
    icon: Flutter,
  },
  FIREBASE:{
    name: "Firebase",
    class: "bg-[#ffa000]/10 text-white",
    icon: Firebase
  },
  REACT:{
    name: "React",
    class: "bg-[#003159] text-white",
    icon: React
  },
  VITE:{
    name: "Vite",
    class: "bg-[#854bc8]/20 text-white",
    icon: Vite
  }
}
const PROJECTS = [
  {
    title: "Suzumakukar - Matemáticas para Estudiantes de Primaria",
    description:
      "Aplicación educativa diseñada para apoyar a estudiantes de primaria en su aprendizaje de matemáticas. Desarrollada con Flutter y Firebase, esta app sigue los principios de arquitecturas limpias, utilizando el patrón de diseño MVVM (Modelo-Vista-VistaModelo), inyección de dependencias y providers para garantizar un código modular, mantenible y escalable.",
    link: "",
    github: "https://github.com/JeiFB/suzumakukar",
    image: "/projects/szm.webp",
    tags: [TAGS.FLUTTER, TAGS.FIREBASE],
  },
  {
    title: "GameSocial - Red Social para Gamers",
    description:
      "Una red social diseñada para conectar a gamers, permitiendo compartir experiencias y encontrar nuevos compañeros de juego. Desarrollada con Flutter y Firebase, esta plataforma implementa arquitecturas limpias, patrones de diseño, el modelo MVVM y providers, asegurando un desarrollo robusto y escalable.",
    link: "",
    github: "https://github.com/JeiFB/gamesocial",
    image: "/projects/gs.webp",
    tags: [TAGS.FLUTTER, TAGS.FIREBASE],
  },
  {
    title: "Veterinaria - Software de Gestión de Citas",
    description:
      "Software desarrollado para una veterinaria local, diseñado para organizar y gestionar eficientemente las citas de los pacientes. La aplicación está construida con React, Vite y Tailwind CSS, proporcionando una interfaz rápida, intuitiva y moderna.",
    link: "https://citasveterinariareactjeifher.netlify.app/",
    github: "https://github.com/JeiFB/citas-react",
    image: "/projects/vt.webp",
    tags: [TAGS.REACT, TAGS.TAILWIND, TAGS.VITE],
  },
  {
    title: "Control de gastos - Herramienta para Planificar Gastos Personales",
    description:
      "Aplicación desarrollada para gestionar y planificar gastos mensuales de manera simple y visualmente atractiva. Este software, creado para uso personal, ofrece una interfaz clara y eficiente, construida con React y Vite, para un rendimiento rápido y fluido.",
    link: "https://gastoscontroljei.netlify.app/",
    github: "https://github.com/JeiFB/citas-react",
    image: "/projects/gt.webp",
    tags: [TAGS.REACT, TAGS.VITE],
  }
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Project" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



